PORT=<TOOO>
RAILS_MASTER_KEY=<TOOO>
DATABASE_HOST=<TOOO>
DATABASE_USERNAME=<TOOO>
DATABASE_PASSWORD=<TOOO>
DATABASE_NAME=radiar_production
REDIS_URL_SIDEKIQ=redis://redis:6379/1
LASTFM_API_KEY=<TOOO>
